@import "tailwindcss";

:root {
  --navy: #001427;
  --sage: #708D81;
  --cream: #F4D03F;
  --red: #BF0603;
}

.clip-triangle {
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
}

html {
  font-size: 18px;
}

@layer base {
  body {
    @apply bg-white text-[#001427];
  }
}

@layer utilities {
  /* Móvil primero (por defecto) */
  .container {
    @apply w-full px-4;
  }

  /* Tablet (md) */
  @media (min-width: 768px) {
    .container {
      @apply px-4;
    }
  }

  /* Desktop (lg) */
  @media (min-width: 1024px) {
    .container {
      @apply px-6;
    }
  }

  /* Desktop grande (xl) */
  @media (min-width: 1280px) {
    .container {
      @apply px-8 max-w-[1100px] mx-auto;
    }
  }

  /* 2K y 4K (2xl) */
  @media (min-width: 1536px) {
    .container {
      @apply max-w-screen-2xl px-0;
    }
  }
}